:root {
    --bg: #232323;
    --primary: white;
    --hover: rgba(255, 255, 255, 0.181);
    --container: rgba(255, 255, 255, 0.067);
    --container2: #171717aa;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--primary);
    font-size: 30px;
    min-height: 100vh;
    font-family: 'Segoe UI Variable Display';
    -webkit-tap-highlight-color: transparent;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    margin-top: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.256);
}

#container h1 {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    color: gray;
}

.link {
    margin: 2px;
    font-size: 22px;
    color: #ffbdc1;
    transition: 0.2s;
    gap: 5px;
    text-decoration: none;
}

.link:hover {
    color: #ff848c;
}

.link p {
    margin: 0px;
    text-decoration: underline;
}