:root {
    --bg: #232323;
    --primary: white;
    --hover: rgba(255, 255, 255, 0.181);
    --container: rgba(255, 255, 255, 0.067);
    --container2: #171717aa;
    --halfopaque: rgba(255, 255, 255, 0.475);
    --redbg: rgba(255, 26, 26, 0.204);
    --red: rgb(255, 83, 83);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--primary);
    font-size: 30px;
    min-height: 100vh;
    font-family: 'Segoe UI Variable Display';
    -webkit-tap-highlight-color: transparent;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbar a {
    display: flex;
    padding: 15px;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.3s;
    margin: 10px;
    margin-right: auto;
}

#searchbar a:hover {
    background-color: var(--hover);
}

#searchbar img {
    height: 20px;
}

#searchbar form {
    margin: 10px;
    border: none;
    outline: none;
    color: var(--primary);
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.256);
    transition: box-shadow 0.2s;
}

#searchbar form:hover {
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.319);
}

#searchbar input {
    height: 25px;
    padding: 10px;
    font-size: 16px;
    color: var(--primary);
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

#searchbar input::placeholder {
    color: var(--hover);
}

#searchbar form button {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--primary);
    transition: background-color 0.2s;
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    width: 50px;
}

#searchbar form button:hover {
    background-color: var(--hover);
}

#searchbar form button > .icon {
    width: 20px;
    height: 20px;
}

#inventory-container {
    margin-top: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.256);
}

#invalid-player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
    color: var(--halfopaque);
}

#invalid-player > div:first-child {
    font-weight: 500;
    font-size: 30px;
    background-color: var(--redbg);
    border: 2px solid var(--redbg);
    color: var(--red);
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#playername {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.role {
    border-radius: 20px;
    color: rgb(124, 124, 124);
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: 700;
    border: 2px solid transparent;
}

.VIP,
.VIP_PLUS {
    color: #55ff54;
    border-color: #54ff5438;
}

.MVP,
.MVP_PLUS {
    color: #56fefe;
    border-color: #56fefe4b;
}

.MVP_PLUS_PLUS {
    color: #feaa00;
    border-color: #fea9003b;
}

.ADMIN {
    color: #ff5555;
    border-color: #ff55553b;
}

.YOUTUBE {
    color: white;
    border-color: #ff5555;
}

.loader {
    animation: loading 2s linear infinite;
    margin-right: 10px;
}

#template_element {
    display: none;
}

#info-rows {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vertical-divider {
    margin: 20px;
    width: 2px;
    height: 200px;
    background-color: var(--container);
    border-radius: 2px;
}

#cape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: var(--halfopaque);
    margin: 10px;
}

.icon-32 {
    background-image: url('/items/InvSprite.webp');
    image-rendering: pixelated;
}

#inventory {
    margin-top: 20px;
    border: 10px solid transparent;
    outline: 2px solid var(--halfopaque);
    border-radius: 10px;
}

#item {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.362);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    transition: box-shadow 0.2s, background-color 0.2s;
}

#row-1,
#row-2,
#row-3 {
    display: flex;
    flex-direction: row;
}

#item .tooltiptext {
    visibility: hidden;
    background-color: #292929;
    border: 2px solid #383838;
    box-shadow: 0 5px 20px #00000030;
    border-radius: 10px;
    padding: 5px 10px;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    font-size: 18px;
    font-weight: 400;
    bottom: 90%;
    opacity: 0;
    transition: 0.3s;
}

#item:hover {
    background-color: var(--container);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.641);
}

#item:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    bottom: 105%;
}

#footer {
    position: absolute;
    bottom: 10px;
    font-size: 15px;
    color: var(--halfopaque);
}

#footer a {
    color: var(--halfopaque);
    transition: color 0.2s;
}

#footer a:hover {
    color: var(--primary);
}

@keyframes loading {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
}

@media (pointer:none), (pointer:coarse) {
    body {
        zoom: 2;
        display: unset;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: #ffffff;
        --primary: rgb(42, 42, 42);
        --hover: rgb(211, 211, 211);
        --container: rgba(255, 255, 255, 0.104);
        --container2: #ffffffb5;
        --halfopaque: rgba(43, 43, 43, 0.475);
        --redbg: rgba(255, 26, 26, 0.204);
        --red: rgb(255, 83, 83);
    }

    #item .tooltiptext {
        background-color: #ffffff;
        border: 2px solid #e6e6e6;
    }

    #item {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.303);
    }

    .role {
        color: white;
    }

    .VIP,
    .VIP_PLUS {
        background-color: #55ff54;
        border-color: #55ff54;
        color: #1f621f;
    }
    
    .MVP,
    .MVP_PLUS {
        background-color: #56fefe;
        border-color: #56fefe;
        color: #258282;
    }
    
    .MVP_PLUS_PLUS {
        background-color: #feaa00;
        border-color: #feaa00;
        color: #6c4800;
    }
    
    .ADMIN {
        background-color: #ff5555;
        border-color: #ff5555;
        color: #6d2424;
    }
    
    .YOUTUBE {
        background-color: #ff5555;
        border-color: #ff5555;
    }
}